body{
	background-color: rgba(170, 232, 235, 0.753);
}
form{
	background-color:rgba(58, 173, 189, 0.89);
	width:25%;
	margin:120px auto;
	padding: 50px;
	box-shadow: 10px 10px 5px
	border-radius: 6px;
}

