/* a display way to sort the appearance of the page */
#gridCont {
	display: grid;
	grid-template-rows:[header] 30% [nav] 15% [content] 55%;
	grid-template-columns: [main] 100%;
	grid-template-areas:
			'header header '
			'nav nav '
			'main main';
}
/* the header area with a auto flow and css*/
header 	{
	grid-area: header;
	overflow: auto;
	margin-top: 5px;
	margin-left: 10px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	font-family: Century Gothic;
	text-align:center;
}

/* for main div */
main {
	grid-area: main;
	margin-right: 3%;
	margin-left: 3%;
	height: 100%;
}
nav {
	grid-area: nav;
	margin-right: 15%;
	margin-left: 15%;
	background-color: #92b5f2;
	font-size: 80%;
	font-family: Century Gothic;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #73abe3;
}
nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #518ee8;
}


/* all under is to style diffrent tags of html*/
html, body {
	background-color: #e8effc;
	margin: 5px;
	padding: 5px;
	font-size: 90%;
	font-family: Century Gothic;
	line-height: 1.5;
	margin: 5px;
	padding: 0;
}
h1 {
	padding-top: 0;
	padding-bottom: 0;
	margin-left: 20px;
	margin-bottom: 0;
	font-size:3em;
	color: #4578e3;
}
h3 {
	font-size: 1.3em;
	margin-left: 5px;
	color: #4578e3;
	font-family: Century Gothic;
	text-align:center;
}
p {
	font-size: 1.2em;
	color: #73abe3;
	margin-left: 20px;
	margin-right: 20px;
	font-family: segoe ui;
}
/*aside to display */
aside {
	grid-area: aside;
	text-align:center;
	padding: 0.4em;
	letter-spacing: 2px;
	font-size: 1.2em;
	color: #3399ff;
	background-color: #99ccff;
}
/* simple footer style */
footer {
	grid-area: footer;
	color: #3399ff;
	font-size: 0.9em;
	text-align:center;
	font-family: Century Gothic;
	background-color: #abe3ff;
}

button {
	font-family: Century Gothic;
	font-size: 1.2em;
	color: #0066cc;
	border-color: #3399ff;
}

ul {
	font-family: Century Gothic;
	font-size: 1.2em;
	color: #0066cc;
	border-color: #3399ff;
	list-style-type: none;
	overflow: hidden;
}

li {
	font-family: Century Gothic;
	font-size: 1.2em;
	color: #0066cc;
	border-color: #3399ff;
	float: left;
}
